@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'iconfonts';
  src: url("../iconfonts/iconfonts.eot?acma62");
  src: url("../iconfonts/iconfonts.eot?acma62#iefix") format("embedded-opentype"), url("../iconfonts/iconfonts.ttf?acma62") format("truetype"), url("../iconfonts/iconfonts.woff?acma62") format("woff"), url("../iconfonts/iconfonts.svg?acma62#iconfonts") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfonts' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow-right:before {
  content: "\e900";
}

._icon-phone:before {
  content: "\e901";
}

._btn {
  padding: 0px 15px;
  /* Если меньше контейнера */
  min-height: 45px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 10px #f07e02;
          box-shadow: 0px 0px 10px #f07e02;
  -webkit-animation-name: animationBtn;
          animation-name: animationBtn;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-color: #f07e02;
  text-transform: uppercase;
  /* Если меньше контейнера */
  font-size: 16px;
  color: #fff;
}

@media (max-width: 800px) {
  ._btn {
    min-height: calc(35px + 10 * ((100vw - 320px) / 480));
  }
}

@media (max-width: 800px) {
  ._btn {
    font-size: calc(14px + 2 * ((100vw - 320px) / 480));
  }
}

@-webkit-keyframes animationBtn {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes animationBtn {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

._btn ._icon-arrow-right {
  margin-left: 8px;
  font-size: 16px;
}

@media (any-hover: hover) {
  ._btn {
    -webkit-transition: background-color .3s ease .0s;
    transition: background-color .3s ease .0s;
  }
  ._btn:hover {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
    background-color: #d17a1d;
  }
}

._btn-click:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

._ibg {
  position: relative;
}

._ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: "Open Sans";
  font-size: 14px;
  color: #222;
  background-color: #fafafa;
}

body._lock-scroll {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

._container {
  margin: 0px auto;
  max-width: 800px;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 20px #535353;
          box-shadow: 0px 0px 20px #535353;
}

.header__body {
  padding: 10px 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(76.02deg, #eb8211 1.66%, #d89349 93.21%);
}

.header__logo {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  /* Если меньше контейнера */
  -ms-flex-preferred-size: 230px;
      flex-basis: 230px;
  position: relative;
}

@media (max-width: 800px) {
  .header__logo {
    -ms-flex-preferred-size: calc(200px + 30 * ((100vw - 320px) / 480));
        flex-basis: calc(200px + 30 * ((100vw - 320px) / 480));
  }
}

.header__logo img {
  max-width: 100%;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: #222;
}

@media (any-hover: hover) {
  .header__phone {
    -webkit-transition: color .3s ease .0s;
    transition: color .3s ease .0s;
  }
  .header__phone:after {
    content: "";
    width: 0%;
    height: 1px;
    position: absolute;
    bottom: -2px;
    left: 4px;
    -webkit-transition: width .3s ease .0s;
    transition: width .3s ease .0s;
    background-color: #222;
  }
  .header__phone:hover {
    color: #2b2b2b;
  }
  .header__phone:hover:after {
    width: 100%;
  }
}

.header-phone__icon {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Если меньше контейнера */
  font-size: 20px;
}

@media (max-width: 800px) {
  .header-phone__icon {
    font-size: calc(16px + 4 * ((100vw - 320px) / 480));
  }
}

@media (min-width: 475.2px) {
  .header-phone__icon {
    margin-right: 5px;
  }
}

@media (max-width: 475.2px) {
  .header-phone__icon {
    width: 40px;
    height: 40px;
    font-size: 28px;
  }
}

.header-phone__text {
  /* Если меньше контейнера */
  font-size: 20px;
}

@media (max-width: 800px) {
  .header-phone__text {
    font-size: calc(16px + 4 * ((100vw - 320px) / 480));
  }
}

@media (max-width: 475.2px) {
  .header-phone__text {
    display: none;
  }
}

.main-block__body {
  /* Если меньше контейнера */
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  /* Если меньше контейнера */
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  overflow: hidden;
  background: linear-gradient(76.02deg, #eb8211 1.66%, #d89349 93.21%);
}

@media (max-width: 800px) {
  .main-block__body {
    padding-top: calc(15px + 5 * ((100vw - 320px) / 480));
  }
}

@media (max-width: 800px) {
  .main-block__body {
    padding-bottom: calc(15px + 5 * ((100vw - 320px) / 480));
  }
}

.main-block__body:before {
  content: "";
  /* Если меньше контейнера */
  width: 350px;
  /* Если меньше контейнера */
  height: 350px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  border-radius: 50%;
  background-color: #ee902b;
}

@media (max-width: 800px) {
  .main-block__body:before {
    width: calc(200px + 150 * ((100vw - 320px) / 480));
  }
}

@media (max-width: 800px) {
  .main-block__body:before {
    height: calc(200px + 150 * ((100vw - 320px) / 480));
  }
}

.main-block__body:after {
  content: "";
  /* Если меньше контейнера */
  width: 150px;
  /* Если меньше контейнера */
  height: 150px;
  position: absolute;
  bottom: -40px;
  /* Если меньше контейнера */
  right: 260px;
  z-index: 1;
  opacity: 0.6;
  background-image: url("../img/page/main-block/e-01.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 800px) {
  .main-block__body:after {
    width: calc(90px + 60 * ((100vw - 320px) / 480));
  }
}

@media (max-width: 800px) {
  .main-block__body:after {
    height: calc(90px + 60 * ((100vw - 320px) / 480));
  }
}

@media (max-width: 800px) {
  .main-block__body:after {
    right: calc(-40px + 300 * ((100vw - 320px) / 480));
  }
}

@media (max-width: 768.2px) {
  .main-block__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-block__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

@media (min-width: 768.2px) {
  .main-block__text-block {
    margin-right: 15px;
  }
}

@media (max-width: 768.2px) {
  .main-block__text-block {
    margin-bottom: 20px;
  }
}

.main-block__text {
  padding-top: 10px;
  max-width: 450px;
  text-align: center;
  font-weight: 400;
  /* Если меньше контейнера */
  font-size: 18px;
  line-height: 131.25%;
  color: #222;
}

@media (max-width: 800px) {
  .main-block__text {
    font-size: calc(14px + 4 * ((100vw - 320px) / 480));
  }
}

.main-block__text:first-letter {
  text-transform: uppercase;
}

.main-block__btn {
  /* Если меньше контейнера */
  margin-top: 25px;
  background-color: #222;
  -webkit-box-shadow: 0px 0px 10px #222;
          box-shadow: 0px 0px 10px #222;
}

@media (max-width: 800px) {
  .main-block__btn {
    margin-top: calc(15px + 10 * ((100vw - 320px) / 480));
  }
}

@media (any-hover: hover) {
  .main-block__btn {
    -webkit-transition: background-color .3s ease .0s;
    transition: background-color .3s ease .0s;
  }
  .main-block__btn:hover {
    background-color: #2c2c2c;
  }
}

.main-block__image {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  /* Если меньше контейнера */
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
  position: relative;
  z-index: 2;
}

@media (max-width: 800px) {
  .main-block__image {
    -ms-flex-preferred-size: calc(200px + 150 * ((100vw - 320px) / 480));
        flex-basis: calc(200px + 150 * ((100vw - 320px) / 480));
  }
}

.main-block__image img {
  max-width: 100%;
}

@media (max-width: 768.2px) {
  .main-block__image {
    display: none;
  }
}

.about__body {
  /* Если меньше контейнера */
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  /* Если меньше контейнера */
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
  background-color: #222;
}

@media (max-width: 800px) {
  .about__body {
    padding-top: calc(15px + 5 * ((100vw - 320px) / 480));
  }
}

@media (max-width: 800px) {
  .about__body {
    padding-bottom: calc(15px + 5 * ((100vw - 320px) / 480));
  }
}

.about__body:after {
  content: "";
  /* Если меньше контейнера */
  width: 130px;
  /* Если меньше контейнера */
  height: 130px;
  position: absolute;
  /* Если меньше контейнера */
  bottom: -70px;
  z-index: 1;
  opacity: 0.3;
  background-image: url("../img/page/main-block/e-01.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 800px) {
  .about__body:after {
    width: calc(90px + 40 * ((100vw - 320px) / 480));
  }
}

@media (max-width: 800px) {
  .about__body:after {
    height: calc(90px + 40 * ((100vw - 320px) / 480));
  }
}

@media (max-width: 800px) {
  .about__body:after {
    bottom: calc(-40px + -30 * ((100vw - 320px) / 480));
  }
}

@media (min-width: 768.2px) {
  .about__body:after {
    left: -20px;
  }
}

@media (max-width: 768.2px) {
  .about__body:after {
    right: -10px;
  }
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768.2px) {
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 270px;
          flex: 0 1 270px;
  position: relative;
}

.about__image:before {
  content: "";
  width: 170px;
  height: 150px;
  position: absolute;
  top: 5px;
  left: 40px;
  background-image: url("../img/page/about/e-01.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.about__image img {
  max-width: 100%;
}

.about__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about__text-block {
  color: #fff;
}

@media (min-width: 768.2px) {
  .about__text-block {
    margin-right: 15px;
  }
}

@media (max-width: 768.2px) {
  .about__text-block {
    margin-bottom: 30px;
  }
}

.about__title {
  /* Если меньше контейнера */
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-family: 'Lobster';
  text-align: center;
  font-weight: 400;
  /* Если меньше контейнера */
  font-size: 36px;
  line-height: 131.25%;
  color: #fff;
}

@media (max-width: 800px) {
  .about__title {
    margin-bottom: calc(15px + 5 * ((100vw - 320px) / 480));
  }
}

@media (max-width: 800px) {
  .about__title {
    font-size: calc(24px + 12 * ((100vw - 320px) / 480));
  }
}

.about__title:first-letter {
  text-transform: uppercase;
}

.about__title:after {
  content: "";
  width: 25px;
  height: 25px;
  position: relative;
  bottom: 0;
  left: 10px;
  background-image: url("../img/page/item-01.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.about__list {
  max-width: 400px;
}

.about__item {
  padding-left: 30px;
  position: relative;
  text-align: left;
  font-weight: 400;
  /* Если меньше контейнера */
  font-size: 20px;
  line-height: 131.25%;
  color: #fff;
}

@media (max-width: 800px) {
  .about__item {
    font-size: calc(14px + 6 * ((100vw - 320px) / 480));
  }
}

.about__item:first-letter {
  text-transform: uppercase;
}

.about__item:before {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  top: 11px;
  left: 0;
  background-color: #fff;
}

.about__item:not(:last-child) {
  margin-bottom: 15px;
}

.about__btn {
  /* Если меньше контейнера */
  margin-top: 35px;
}

@media (max-width: 800px) {
  .about__btn {
    margin-top: calc(20px + 15 * ((100vw - 320px) / 480));
  }
}

.offer__body {
  /* Если меньше контейнера */
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  /* Если меньше контейнера */
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(76.02deg, #eb8211 1.66%, #d89349 93.21%);
}

@media (max-width: 800px) {
  .offer__body {
    padding-top: calc(15px + 5 * ((100vw - 320px) / 480));
  }
}

@media (max-width: 800px) {
  .offer__body {
    padding-bottom: calc(15px + 5 * ((100vw - 320px) / 480));
  }
}

@media (max-width: 768.2px) {
  .offer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.offer__title {
  /* Если меньше контейнера */
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-family: 'Lobster';
  text-align: center;
  font-weight: 400;
  /* Если меньше контейнера */
  font-size: 36px;
  line-height: 131.25%;
  color: #222;
}

@media (max-width: 800px) {
  .offer__title {
    margin-bottom: calc(15px + 5 * ((100vw - 320px) / 480));
  }
}

@media (max-width: 800px) {
  .offer__title {
    font-size: calc(24px + 12 * ((100vw - 320px) / 480));
  }
}

.offer__title:first-letter {
  text-transform: uppercase;
}

.offer__title:after {
  content: "";
  width: 25px;
  height: 25px;
  position: relative;
  bottom: 0;
  left: 10px;
  background-image: url("../img/page/item-01.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.offer__column {
  row-gap: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template: 1fr / 1fr 1fr 1fr 1fr;
}

@media (max-width: 768.2px) {
  .offer__column {
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr / 1fr 1fr;
  }
}

.offer-column__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.offer-column__image {
  /* Если меньше контейнера */
  padding: 32px;
  /* Если меньше контейнера */
  width: 140px;
  /* Если меньше контейнера */
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.068);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.068);
  overflow: hidden;
  background-color: #ee902b;
}

@media (max-width: 800px) {
  .offer-column__image {
    padding: calc(20px + 12 * ((100vw - 320px) / 480));
  }
}

@media (max-width: 800px) {
  .offer-column__image {
    width: calc(100px + 40 * ((100vw - 320px) / 480));
  }
}

@media (max-width: 800px) {
  .offer-column__image {
    height: calc(100px + 40 * ((100vw - 320px) / 480));
  }
}

.offer-column__image img {
  max-width: 100%;
}

.offer-column__text {
  margin-top: 10px;
  max-width: 200px;
  position: relative;
  z-index: 5;
  text-align: center;
  font-weight: 400;
  /* Если меньше контейнера */
  font-size: 16px;
  line-height: 131.25%;
  color: #222;
}

@media (max-width: 800px) {
  .offer-column__text {
    font-size: calc(14px + 2 * ((100vw - 320px) / 480));
  }
}

.offer-column__text:first-letter {
  text-transform: uppercase;
}

.footer-top__body {
  /* Если меньше контейнера */
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  /* Если меньше контейнера */
  padding-bottom: 20px;
  position: relative;
  background-color: #e4e4e4;
}

@media (max-width: 800px) {
  .footer-top__body {
    padding-top: calc(15px + 5 * ((100vw - 320px) / 480));
  }
}

@media (max-width: 800px) {
  .footer-top__body {
    padding-bottom: calc(15px + 5 * ((100vw - 320px) / 480));
  }
}

.footer-top__title {
  /* Если меньше контейнера */
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 10;
  font-family: 'Lobster';
  text-align: center;
  font-weight: 400;
  /* Если меньше контейнера */
  font-size: 36px;
  line-height: 131.25%;
  color: #222;
}

@media (max-width: 800px) {
  .footer-top__title {
    margin-bottom: calc(15px + 5 * ((100vw - 320px) / 480));
  }
}

@media (max-width: 800px) {
  .footer-top__title {
    font-size: calc(24px + 12 * ((100vw - 320px) / 480));
  }
}

.footer-top__title:first-letter {
  text-transform: uppercase;
}

.footer-top__title:after {
  content: "";
  width: 25px;
  height: 25px;
  position: relative;
  bottom: 0;
  left: 10px;
  background-image: url("../img/page/item-01.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-top__list {
  -webkit-column-gap: 15px;
          column-gap: 15px;
  row-gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 10;
}

@media (max-width: 475.2px) {
  .footer-top__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-top__item {
  text-align: left;
  font-weight: 400;
  /* Если меньше контейнера */
  font-size: 16px;
  line-height: 137.5%;
  color: #222;
}

@media (max-width: 800px) {
  .footer-top__item {
    font-size: calc(14px + 2 * ((100vw - 320px) / 480));
  }
}

.footer-top__item a {
  color: #924b00;
}

@media (any-hover: hover) {
  .footer-top__item a:hover {
    text-decoration: underline;
  }
}

.footer-main__e-mail {
  text-align: left;
  font-weight: 400;
  /* Если меньше контейнера */
  font-size: 16px;
  line-height: 137.5%;
  color: #fff;
}

@media (max-width: 800px) {
  .footer-main__e-mail {
    font-size: calc(14px + 2 * ((100vw - 320px) / 480));
  }
}

@media (min-width: 475.2px) {
  .footer-main__e-mail {
    margin-right: 15px;
  }
}

@media (max-width: 475.2px) {
  .footer-main__e-mail {
    margin-bottom: 10px;
  }
}

@media (any-hover: hover) {
  .footer-main__e-mail:hover {
    text-decoration: underline;
  }
}

.footer-main__body {
  /* Если меньше контейнера */
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  /* Если меньше контейнера */
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 10px 2px #222;
          box-shadow: 0px 0px 10px 2px #222;
  background-color: #222;
}

@media (max-width: 800px) {
  .footer-main__body {
    padding-top: calc(15px + 5 * ((100vw - 320px) / 480));
  }
}

@media (max-width: 800px) {
  .footer-main__body {
    padding-bottom: calc(15px + 5 * ((100vw - 320px) / 480));
  }
}

@media (max-width: 475.2px) {
  .footer-main__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
