//< " ПЕРЕМЕННЫЕ " >=============================================================================================================>//

// ОБЩИЕ НАСТРОЙКИ СТРАНИЦЫ
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1230;
$containerPadding: 30;

// БРЕЙКПОИНТЫ
$popupMobile: 479.98px;
$headerMobile: 991.98px;

// ЦВЕТА
$colorWhite: #ffffff;
$colorDark: #000000;
$colorWrapper: rgba(0, 0, 0, 0.5);
$colorBorderGrey: #F0F0F0;
$colorOrangeHover: #FEF8F2;
$colorGrey: #959595;
$colorOrange: #FF7010;
$colorRed: #E23535;

// СТАНДАРТНЫЕ НАСТРОЙКИ СТРАНИЦЫ
$colorBg: #F9F9F9;
$fontFamily: "Inter";