//< " ФАЙЛ С ОБНУЛЯЮЩИМИ СТИЛЯМИ " >=============================================================================================================>//
@import "./config/_nullstyle";

//< " ПОДКЛЮЧАЕМ ФАЙЛ С ШРИФТАМИ " >=============================================================================================================>//
@import "./config/_fonts";

//< " МИКСИНЫ " >=============================================================================================================>//
@import "./config/_mixins";

//< " ФАЙЛ С ПЕРЕМЕННЫМИ " >=============================================================================================================>//
@import "./config/_vars";

//< " ФАЙЛ С ОТДЕЛЬНЫМИ БЛОКАМИ " >=============================================================================================================>//
@import "./config/_ui";

//< " НАСТРОЙКА SWIPER " >=============================================================================================================>//
@import "./config/_swiper";

//< " ФАЙЛ С ОТДЕЛЬНЫМИ БЛОКАМИ " >=============================================================================================================>//
@import "./chunks/_buttons";

@import "./chunks/_basket-card";

@import "./chunks/_filter-block";

//< " ТЕЛО САЙТА " >=============================================================================================================>//
body {
   background-color: $colorBg;

   font-family: $fontFamily;
   color: $colorDark;
   font-size: 16px;

   &::-webkit-scrollbar {
      width: 14px;
   }

   &::-webkit-scrollbar-track {
      background: $colorBg;
   }

   &::-webkit-scrollbar-thumb {
      background-color: darken($colorWhite, 25%);
      border-radius: 20px;
      border: 2px solid $colorBg;

      @media (any-hover: hover) {
         &:hover {
            background-color: darken($colorWhite, 35%);
         }
      }
   }
}

//< " ОБОЛОЧКА/СЕТКА " >=============================================================================================================>//

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

._container {
   padding: 0px $containerPadding/2+px 0px $containerPadding/2+px;
   margin: 0px auto;
   max-width: $maxWidthContainer + px;
}

#root {
   height: 100%;
}

.page {
   @include adaptiv-value("padding-top", 50, 30, 1);
   @include adaptiv-value("padding-bottom", 150, 100, 1);
   display: flex;
   flex-direction: column;
   flex: 1 1 auto;
}

//< " ФАЙЛЫ СТИЛЕЙ ХЕАДЕР/МЕНЮ/ФУТЕР И Т.Д. " >=============================================================================================================>//
@import "./modules/_menu";
@import "./modules/_search";
@import "./modules/_category";

@import "./modules/_banner";
@import "./modules/_header";
@import "./modules/_footer";

@import "./modules/_modals";

//< " ФАЙЛЫ СТИЛЕЙ СТРАНИЦ/СЕКЦИЙ " >=============================================================================================================>//
@import "./sections/_not-found";

@import "./sections/_main-slider";
@import "./sections/_products";
@import "./sections/_full-card";

@import "./sections/_search";

@import "./sections/_basket";
@import "./sections/_favorite";

@import "./chunks/_product-card";