.basket-card {
	@include adaptiv-value("padding", 15, 10, 1);
	min-height: 135px;
	display: flex;
	align-items: center;
	position: relative;
	border-radius: 10px;
	border: 1px solid $colorBorderGrey;
	background-color: $colorWhite;

	&:not(:last-child) {
		margin-bottom: 20px;
	}

	@media (max-width: 479.98px) {
		padding-bottom: 20px;
		flex-direction: column;
	}

	// .basket-card__block

	&__block {
		width: 100%;
		display: flex;
		align-items: center;

		@media (min-width: 479.98px) {
			&:not(:last-child) {
				margin-right: 15px;
			}
		}

		@media (max-width: 479.98px) {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	// .basket-card__label

	&__label {
		padding: 2px 12px;
		min-height: 25px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 25px;
		left: 0;
		border-radius: 0px 6px 6px 0px;
		background-color: $colorRed;

		text-transform: uppercase;
		font-size: 12px;
		font-weight: 400;
		line-height: 14 / 11 * 100%;
		color: $colorWhite;
	}

	// .basket-card__img

	&__img {
		flex-grow: 0;
		flex-shrink: 0;
		@include adaptiv-value("flex-basis", 100, 80, 1);
		overflow: hidden;
		border-radius: 6px;

		img {
			max-width: 100%;
		}

		&:not(:last-child) {
			@include adaptiv-value("margin-right", 15, 10, 1);
		}

		@media (max-width: 479.98px) {
			flex-basis: 100px;
		}
	}

	// .basket-card__row

	&__row {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}

	// .basket-card__title

	&__title {
		-webkit-line-clamp: 1;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;

		text-decoration: none;
		@include adaptiv-value("font-size", 18, 16, 1);
		font-weight: 600;
		line-height: 22 / 18 * 100%;
		color: $colorDark;

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		@media (max-width: 479.98px) {
			font-size: 18px;
		}

		@media (any-hover: hover) {
			transition: color .2s ease .0s;

			&:hover {
				color: $colorOrange;
			}
		}
	}

	// .basket-card__text

	&__text {
		-webkit-line-clamp: 2;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;

		font-size: 14px;
		font-weight: 400;
		line-height: 17 / 14 * 100%;
		color: $colorGrey;
	}

	// .basket-card__column

	&__column {
		display: flex;
		align-items: center;

		@media (max-width: 479.98px) {
			width: 100%;
		}
	}

	// .basket-card__actions

	&__actions {
		display: flex;
		align-items: center;
		border-radius: 8px;
		background-color: #FFEEE2;

		&:not(:last-child) {
			@include adaptiv-value("margin-right", 50, 15, 1);
		}
	}

	// .basket-card__price

	&__price {
		&:not(:last-child) {
			@include adaptiv-value("margin-right", 100, 15, 1);
		}

		@media (max-width: 479.98px) {
			flex: 1 1 auto;
		}
	}

	// .basket-card__price-text

	&__price-text {
		@include adaptiv-value("font-size", 20, 16, 1);
		font-weight: 600;
		line-height: 24 / 20 * 100%;

		// .basket-card__price-text_stock

		&_stock {
			text-decoration: line-through;
			color: $colorGrey;
		}
	}

	// .basket-card__remove

	&__remove {
		display: inline-flex;
		align-items: center;
		background-color: transparent;

		@media (any-hover: hover) {
			&:hover {
				.basket-card__remove-icon {
					stroke: $colorDark;
				}

				.basket-card__remove-text {
					color: $colorDark;
				}
			}
		}
	}

	// .basket-card__remove-icon

	&__remove-icon {
		stroke-width: 2px;
		stroke: $colorGrey;

		&:not(:last-child) {
			margin-right: 6px;
		}

		@media (any-hover: hover) {
			transition: stroke .2s ease .0s;
		}
	}

	// .basket-card__remove-text

	&__remove-text {
		@include adaptiv-value("font-size", 14, 12, 1);
		font-weight: 500;
		line-height: 19 / 16 * 100%;
		color: $colorGrey;

		@media (max-width: 767.98px) and (min-width: 479.98px) {
			display: none;
		}

		@media (any-hover: hover) {
			transition: color .2s ease .0s;
		}
	}
}

.basket-card-actions {

	// .basket-card-actions__button, .basket-card-actions__count

	&__button,
	&__count {
		@include adaptiv-value("width", 35, 30, 1);
		min-height: 35px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;

		@extend %unselectable;

		@media (max-width: 479.98px) {
			@include adaptiv-value("width", 45, 35, 1);
		}
	}

	// .basket-card-actions__button

	&__button {
		stroke: $colorOrange;

		&._disabled {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	// .basket-card-actions__count

	&__count {
		@include adaptiv-value("font-size", 16, 14, 1);
		font-weight: 600;
		line-height: 19 / 16 * 100%;
		color: $colorOrange;
	}
}